/* Grid Layout */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    justify-content: center;
}

main div {
    width: 300px;
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    border-radius: 10px;
}

/* The images for the photo gallery */
main div:nth-child(1) {
    background-image: url('pic1.jpg');
}

main div:nth-child(2) {
    background-image: url('pic2.jpg');
}

main div:nth-child(3) {
    background-image: url('pic3.jpg');
}

main div:nth-child(4) {
    background-image: url('pic4.jpg');
}

/* Pseudo-classes */
main div:hover {
    transform: scale(1.05);
}

main div:nth-child(even) {
    border-style: dotted;
}

/* Pseudo-elements */
main div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

main div:nth-child(1):hover::before {
    content: "\A\A\A Soccer";
    white-space: pre;
}

main div:nth-child(2):hover::before {
    content: "\A\A\A Basketball";
    white-space: pre;
}

main div:nth-child(3):hover::before {
    content: "\A\A\A Volleyball";
    white-space: pre;
}

main div:nth-child(4):hover::before {
    content: "\A\A\A Baseball";
    white-space: pre;
}

main div:hover::before {
    display: flex;
    opacity: 1;
}

main div::after {
    content: "🔍";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    z-index: 2;
}

main div:hover::after {
    display: block;
}

/* Bonus - sticky header */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}
